<header>
    <div class="top-header">
        <form class="search-bar" method="GET" action="/">
            <button type="submit" class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input type="text" class="search-input" placeholder="Buscar bicicletas y accesorios.">
        </form>
        <figure class="logo">
            <a href="/"><img src="/images/logo3.png" alt="logo-bicimundo"></a>
        </figure>
        <nav class="top-navbar">
            <ul>
                <li><a href="/usuarios/registro">Crear Cuenta</a></li>
                <li><a href="/usuarios/ingresar">Iniciar Sesión</a></li>
                <li><a href="/usuarios/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="sign-in">
            <a href="/usuarios/ingresar">
                <i class="fa-solid fa-circle-user"></i>
            </a>
            <a href="/usuarios/carrito">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
    </div>
    <div class="down-header">
        <nav class="down-navbar">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/productos">PRODUCTOS</a></li>
                <li><a href="/nosotros">QUIENES SOMOS</a></li>
                <li><a href="/contacto">CONTACTO</a></li>
                <li><a href="/ayuda">AYUDA</a></li>
                <li><a href="/productos/create">ADMIN</a></li>
            </ul>
        </nav>
    </div>
    <div class="burger-menu">
        <nav class="navigation">
            <label class="burger-menu1" for="burger"><i class="fa-solid fa-bars"></i></label>
            <input type="checkbox" class="burger-check" id="burger">
            <ul class="burger-options">
                <li><a href="/">Home</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/nosotros">Quienes somos</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
                <li><a href="/usuarios/registro">Crear Cuenta</a></li>
                <li><a href="/usuarios/ingresar">Iniciar Sesión</a></li>
                <li><a href="/usuarios/carrito">Carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="/productos/create">ADMIN</a></li>
            </ul>
        </nav>
    </div>
</header>